body {
	font-family: "Century Gothic", sans-serif;
	background-color: #0e2b3d;
	margin: 0;
	height: 100%;
}

h1 {
	color: white;
	text-align: center;
	font-size: 64px;
}
 
.tabla td,th {
	padding: 5px;
}
 
.tabla {
	width: 66%;
	margin: 0 auto;
	margin-bottom: 200px;
	background-color: black;
	font-family: "Palatino Linotype";
}

.tabla, tr, td {
	border: 2px solid gray;
	border-collapse: collapse;
}

.orak {
	font-weight: bold;
	color: DarkOrange;
	font-size: 1.5em;
}

.ido {
	color: white;
	text-align: center;
	font-weight: 600;
}
/*@media only screen and (min-device-width : 320px) and (max-device-width : 720px) {
	h1 {
		font-size: 10vw;
	}
 } 
 */
 


 