* {
    font-family: "Century Gothic",sans-serif;
}

body {
    background-color: black;
}

h1 {
    color:grey;
    text-align: center;
    font-size:56px;
    margin-bottom: 2em;
}

.gombok{
    display: inline;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold; 
    font-size: 64px;
    padding: 50px 0;
    border-radius: 20px;
    
}

#fekete{
    float: left;
    color: black;
    margin-left: 30px;
    width: 45%;
    
}

#feher{
    float: right;
    margin-right: 30px;
    width: 45%;
}