body {
	font-family: "Century Gothic", sans-serif;
	background-color: #0e2b3d;
	margin: 0;
	height: 100%;
}

table {
	border: 0px;
	border-collapse: collapse;
	margin-top: 50px;
	margin-bottom: 600px;
}

table tr td a p{
	text-decoration: none;
	color: crimson;
	font-size: 2em;
	padding: 20px 30px;
}


table tr td a p {
	background-color: black;
}

a {
	text-decoration: none;
}


table tr td {
	text-align: center;
	padding: 20px 40px;
}


td p:hover {
	background-color: #333;
}

@media screen and (max-width: 992px) {
  table tr td a {
    font-size: 4vw;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  table tr td a {
    font-size: 3vw;
  }
}
 
